@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body{
	font-family: arial, sans-serif;
}

.gallery{
	position:relative;
	min-height:100vh;
}

.gallery .title{
	position:absolute;
	top:95%;
	left:5%;
	transform:rotate(-90deg);
	transform-origin: 0 0;
	
}
.gallery h1{
	font-size: 60px;
	background-color: black;
	color: yellow;
	padding:10px 20px;
	margin-bottom:15px;
}
.gallery .images{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	align-content: space-around;
	position:absolute;
	top:5%;
	bottom:5%;
	left:35%;
	right:5%;
	background-color: gray;
}

.gallery a{
	position:relative;
	flex-basis: calc(50% - 40px);
	margin:0 20px;
	overflow: hidden;
	height:20%;
	box-shadow: 0 0 3px 3px black;
	
}

img{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	min-width:100%;
	min-height:100%;
}